@model TestViewModel
@using WebApp.Controllers

<h1>Testing Loaded</h1>
<h3>Hi @(Model?.WelcomeTag ?? "nopp")</h3>

<input type="button" value="Seed"
       onclick="location.href='@Url.Action(nameof(TestController.Seed), nameof(TestController).Replace("Controller", ""), new { welcomeTag = "Loopy?" })'" />

<input type="button" value="Form"
       onclick="location.href='@Url.Action(nameof(RegistrationFormController.Index), nameof(RegistrationFormController).Replace("Controller", ""))'" />


