@{
    ViewData["Title"] = "Välkommen";
}

<div class="text-center">
    <h1 class="display-4">Välkommen</h1>
    <a type="button" class="btn btn-primary btn-lg"
       asp-controller="@(nameof(RegistrationOfInterestController).Replace("Controller", ""))"
       asp-action="@(nameof(RegistrationOfInterestController.Form))">
        Registrera Intresse
    </a>
</div>
