<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hej, @context.User.Identity.Name</a>
        <a href="Identity/Account/Logout">Logga ut</a>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Register">Registrera</a>
        <a href="Identity/Account/Login">Logga in</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
