@page
@model WebApp.Views.TestinggModel

@{
    ViewData["Title"] = "Testingg";
}

<h1>Testingg</h1>

<h4>RegistrationOfInterest</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.FirstName" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.FirstName" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.LastName" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.LastName" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.Email" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.Email" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.PhoneNumber" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.PhoneNumber" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.School" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.School" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.School" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.SchoolForm" class="control-label"></label>
                <select asp-for="RegistrationOfInterest.SchoolForm" class="form-control"></select>
                <span asp-validation-for="RegistrationOfInterest.SchoolForm" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.Grade" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.Grade" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.Grade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.Program" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.Program" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.Program" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.MeetingType" class="control-label"></label>
                <select asp-for="RegistrationOfInterest.MeetingType" class="form-control"></select>
                <span asp-validation-for="RegistrationOfInterest.MeetingType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.Weeks" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.Weeks" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.Weeks" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.OccassionCount" class="control-label"></label>
                <select asp-for="RegistrationOfInterest.OccassionCount" class="form-control"></select>
                <span asp-validation-for="RegistrationOfInterest.OccassionCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationOfInterest.Theme" class="control-label"></label>
                <input asp-for="RegistrationOfInterest.Theme" class="form-control" />
                <span asp-validation-for="RegistrationOfInterest.Theme" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RegistrationOfInterest.IsInterestedInAnyTheme" /> @Html.DisplayNameFor(model => model.RegistrationOfInterest.IsInterestedInAnyTheme)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RegistrationOfInterest.IsInterestedInLongTerm" /> @Html.DisplayNameFor(model => model.RegistrationOfInterest.IsInterestedInLongTerm)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RegistrationOfInterest.CanVisitMatch" /> @Html.DisplayNameFor(model => model.RegistrationOfInterest.CanVisitMatch)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="RegistrationOfInterest.CanHostMatch" /> @Html.DisplayNameFor(model => model.RegistrationOfInterest.CanHostMatch)
                </label>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
