@page "/"
@inject ISeedService _seedService


<AuthorizeView>
    <Authorized>
        <div>
            <p>Skolans namn</p>
            <p>Lärarens Namn</p>
            <p>Kommun</p>
            <a class="match-link">Läs mer</a>
        </div>
        <Divider />


        @if (loading is null)
        {<p>Database seeded and ready</p> }
        else
        {
            <div class="@(loading == true ? "loader" : "")"></div>
            if (loading == false)
            {
                <Button Clicked="@Seed" Color="Color.Primary">
                    Reset And Seed Db
                </Button>
            }
        }
    </Authorized>

    <NotAuthorized>
        <h4>Logga in med adminkontot</h4>
        <LoginComponent />
    </NotAuthorized>

</AuthorizeView>




@code {
    private bool? loading { get; set; } = false;

    private async Task Seed()
    {
        loading = true;
        await _seedService.ResetAsync();

        // For deployment, skip mock data
        // await _seedService.AddTeacherRegistrationForm(10);
        // await _seedService.AddTimeSpanToTeacherRegistrationForm(10);

        await _seedService.AddSubjects();
        await _seedService.AddMunicipality();
        await _seedService.AddWeeks(2021);
        await Task.Delay(1000);
        loading = null;
    }

    [CascadingParameter]
    private Task<AuthenticationState> _authStateTask { get; set; }


    //Get user info in any blazor component

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            var authState = await _authStateTask;
            var user = authState.User;
        }
    }
}
