@page "/RegistrationDetails/{Id}"
@inject IRegistrationOfInterestService _registrationService;

<h3>RegistrationDetails</h3>
@if (_registration != null)
{
    <p>@($"{_registration.FirstName} {_registration.LastName}")</p>
    <p>@_registration.School</p>
    <p>Registreringssida för id @Id</p>
}
